body{
font-family: Arial;
text-align:center;
}

.slot{
padding:20px;
margin:10px;
display:inline-block;
border-radius:5px;
}

.available{
background-color:green;
color:white;
}

.occupied{
background-color:red;
color:white;
}
